.image0{
    width: 120px;
    height: 164px;
    background: url(../img/sprite.png);
    background-position: 0px 0px;
}
body{
    background-color: #ff6200;
    
}
header{
    height:300px;
    width: 80%;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    background-color: #df19c1;
}
.wins{
    float:left;
    font-size: 1.6em;

    
    padding-left: 40px;
    border-bottom: black  solid 4px;
    

}
.loss{
    float: right;
    padding-right: 40px;
    font-size: 1.6em;
    border-bottom: black solid 4px;

}
.welcome{
    font-size: 1.8em;

}
.underscore{
    height:150px;
    width: 80%;
    border: 1px solid black;
    font-size: 1.7em;
    text-align: center;
    margin: 15px auto;
    background-color: #4399de;

}
.underscore:hover{
    height:150px;
    width: 80%;
    border: 1px solid black;
    font-size: 1.7em;
    text-align: center;
    margin: 15px auto;
    background-color: #4399de;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.rightguess{
    height:150px;
    width: 80%;
    border: 1px solid black;
    font-size: 100%;
    text-align: center;
    margin: 15px auto;
    background-color: #23d513;

}
.wrongguess{
    height:150px;
    width: 80%;
    border: 1px solid black;
    font-size: 100%;
    text-align: center;
    margin: 15px auto;
    background-color: #efc40e;

}
.button {
    color:palevioletred;
    text-align: center;
    height: 70px;
    width: 250px;
    font-size: 30px;
    padding: 20px;
    background-color: #efc40e;
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    transition: all 0.5s;
    cursor:pointer;
    margin: 5px;
    
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
   
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    background-color: #23d513;
  }
  
.button:hover span {
    background-color: #23d513;
    
    padding-right: 25px;
}
.button:hover{
    background-color: #23d513;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}